<div class="animated fadeIn">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title pull-left">Users</h5>
                <div class="pull-right">
                    <button class="btn btn-sm btn-primary" routerLinkActive="active" [routerLink]="['/users/createUser']">Add New</button>
                </div>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>User Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Role</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users; let i = index">
                                        <td>{{(i + 1)}}</td>
                                        <td>{{user.userName}}</td>
                                        <td style="width: 20%">{{user.email}}</td>
                                        <td>{{user.phoneNumber}}</td>
                                        <td>{{user.role}}</td>
                                        <td>
                                            <a routerLinkActive="active" [routerLink]="['/users/updateUser/'+user._id]"><i class="fa fa-pencil-square-o" aria-hidden="true" style="text-shadow: 1px 1px 1px #ccc;font-size: 1.5em;"></i></a>&nbsp;&nbsp;&nbsp;
                                            <a style="cursor: pointer" data-toggle="modal" (click)="open(user)"><i class="fa fa-trash" aria-hidden="true" style="color: red;text-shadow: 1px 1px 1px #ccc;font-size: 1.5em;"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>