<form class="form-horizontal" name="bongForm" ng-submit="Bong.saveBong(bongForm.$valid)" novalidate enctype="multipart/form-data">
    <fieldset>
        <legend>Bang Create</legend>

        <div class="panel panel-default">
            <div class="panel-heading">Primary Information</div>
            <div class="panel-body">

                <div class="form-group" ng-class="{ 'has-error' : bongForm.title.$invalid && !bongForm.title.$pristine }">
                    <label for="inputtitle" class="col-lg-2 control-label">Title</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputtitle" placeholder="Title" name="title" ng-model="Bong.bongData.title" required>
                        <p ng-show="bongForm.title.$invalid && !bongForm.title.$pristine" class="help-block">Title is required.</p>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : bongForm.price.$invalid && !bongForm.price.$pristine }">
                    <label for="inputprice" class="col-lg-2 control-label">Price</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputprice" placeholder="Price" name="price" ng-model="Bong.bongData.price" required>
                        <p ng-show="bongForm.price.$invalid && !bongForm.price.$pristine" class="help-block">Price is required.</p>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : bongForm.originalPrice.$invalid && !bongForm.originalPrice.$pristine }">
                    <label for="inputoriginalPrice" class="col-lg-2 control-label">Original Price</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputoriginalPrice" placeholder="Original Price" name="originalPrice" ng-model="Bong.bongData.originalPrice" required>
                        <p ng-show="bongForm.originalPrice.$invalid && !bongForm.originalPrice.$pristine" class="help-block">Original Price is required.</p>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : bongForm.description.$invalid && !bongForm.description.$pristine }">
                    <label  class="col-lg-2 control-label">Description</label>
                    <div class="col-lg-10">
                        <textarea class="form-control"  placeholder="Description" name="description" ng-model="Bong.bongData.description" required></textarea>
                        <p ng-show="bongForm.description.$invalid && !bongForm.description.$pristine" class="help-block">Description is required.</p>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : bongForm.quantity.$invalid && !bongForm.quantity.$pristine }">
                    <label  class="col-lg-2 control-label">Quantity</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control"  placeholder="Quantity" name="quantity" ng-model="Bong.bongData.quantity" required>
                        <p ng-show="bongForm.quantity.$invalid && !bongForm.quantity.$pristine" class="help-block">Quantity is required.</p>
                    </div>
                </div>

            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">Specifications</div>
            <div class="panel-body">


                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">General</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group" ng-class="{ 'has-error' : bongForm.brand.$invalid && !bongForm.brand.$pristine }">
                            <label for="inputBrand" class="col-lg-2 control-label">Brand</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputBrand" placeholder="Brand" name="brand" ng-model="Bong.bongData.brand" required>
                                <p ng-show="bongForm.brand.$invalid && !bongForm.brand.$pristine" class="help-block">Bong brand is required.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : bongForm.modelNumber.$invalid && !bongForm.modelNumber.$pristine }">
                            <label for="inputmodelnumber" class="col-lg-2 control-label">Model Number</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputmodelnumber" placeholder="Model Number" name="modelNumber" ng-model="Bong.bongData.modelNumber" required>
                                <p ng-show="bongForm.modelNumber.$invalid && !bongForm.modelNumber.$pristine" class="help-block">Model number is required.</p>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : bongForm.functionType.$invalid && !bongForm.functionType.$pristine }">
                            <label for="inputfunctionype" class="col-lg-2 control-label">Function Type</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputfunctionype" placeholder="Function Type" name="functionType" ng-model="Bong.bongData.functionType" required>
                                <p ng-show="bongForm.functionType.$invalid && !bongForm.functionType.$pristine" class="help-block">Function Type is required.</p>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : bongForm.material.$invalid && !bongForm.material.$pristine }">
                            <label for="inputmaterial" class="col-lg-2 control-label">Material</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputmaterial" placeholder="Material" name="material" ng-model="Bong.bongData.material" required>
                                <p ng-show="bongForm.material.$invalid && !bongForm.material.$pristine" class="help-block">Material is required.</p>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : bongForm.color.$invalid && !bongForm.color.$pristine }">
                            <label for="inputcolor" class="col-lg-2 control-label">Color</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputcolor" placeholder="Color" name="color" ng-model="Bong.bongData.color" required>
                                <p ng-show="bongForm.color.$invalid && !bongForm.color.$pristine" class="help-block">Color is required.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Dimensions</h3>
                    </div>
                    <div class="panel-body">


                        <div class="form-group" ng-class="{ 'has-error' : bongForm.jointSize.$invalid && !bongForm.jointSize.$pristine }">
                            <label for="inputjointsize" class="col-lg-2 control-label">Joint Size</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputjointsize" placeholder="Joint Size" name="jointSize" ng-model="Bong.bongData.jointSize" required>
                                <p ng-show="bongForm.jointSize.$invalid && !bongForm.jointSize.$pristine" class="help-block">Joint Size is required.</p>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : bongForm.height.$invalid && !bongForm.height.$pristine }">
                            <label for="inputjointsize" class="col-lg-2 control-label">Height</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputheight" placeholder="Height" name="height" ng-model="Bong.bongData.height" required>
                                <p ng-show="bongForm.height.$invalid && !bongForm.height.$pristine" class="help-block">Height is required.</p>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : bongForm.diameter.$invalid && !bongForm.diameter.$pristine }">
                            <label for="inputdiameter" class="col-lg-2 control-label">Diameter</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputdiameter" placeholder="Diameter" name="diameter" ng-model="Bong.bongData.diameter" required>
                                <p ng-show="bongForm.diameter.$invalid && !bongForm.diameter.$pristine" class="help-block">Diameter is required.</p>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Image Upload</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group" ng-if="Bong.bomUpdate">
                            <label class="col-lg-2 control-label">Images</label>
                            <div class="col-lg-2">
                                <ul class="list-group">
                                    <li ng-repeat="image in Bong.bongData.images" class="list-group-item">
                                        <img ng-src="http://localhost:9000/uploads/{{image.file.name}}" class="img-thumbnail" alt="Cinque Terre" width="80" height="100">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Select Images</label>
                            <div class="col-lg-10">
                                <label class="btn btn-default btn-file">
                                    Browse <input type="file" nv-file-select="" uploader="uploader" multiple hidden>
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label"></label>
                            <div class="col-lg-10" style="margin-bottom: 40px;">
                                <p>Total Images: {{ uploader.queue.length }}</p>
                                 <div class="table-responsive">      
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th width="50%">Name</th>
                                            <th ng-show="uploader.isHTML5">Size</th>
                                            <th ng-show="uploader.isHTML5">Progress</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td>
                                                <strong>{{ item.file.name }}</strong>
                                                <!-- Image preview -->
                                                <!--auto height-->
                                                <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                                <!--auto width-->
                                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                                <!--fixed width and height -->
                                                <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                            </td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                                </button>
                                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <div>
                                        Queue progress:
                                        <div class="progress" style="">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                        </div>
                                    </div>
                                    <div class="container-fluid btn-toolbar pull-left">
                                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                            <span class="glyphicon glyphicon-upload"></span> Upload all
                                        </button>
                                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                        </button>
                                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                            <span class="glyphicon glyphicon-trash"></span> Remove all
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="container-fluid btn-toolbar pull-right">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary" ng-if="!Bong.bomUpdate">Submit</button>
                <button type="submit" class="btn btn-primary" ng-if="Bong.bomUpdate">Update</button>
                <a ui-sref="cms.bongs" class="btn btn-success">BongList</a>
            </div>
        </div>
    </fieldset>
</form>

<toaster-container></toaster-container>