
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">{{ Bong.pageName }}</h3>
        <div class="pull-right">
            <a ui-sref="cms.bong_create" class="btn btn-primary">Add New</a>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Brand</th>
                        <th>Title</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="bong in Bong.bongs">
                        <td>{{$index + 1}}</td>
                        <td>{{bong.brand}}</td>
                        <td style="width: 20%">{{bong.title}}</td>
                        <td style="width: 10%">
                            <ul class="list-group">
                                <li ng-repeat="image in bong.images" class="list-group-item">
                                    <img ng-src="http://ec2-52-15-85-26.us-east-2.compute.amazonaws.com:9000/uploads/{{image.file.name}}" class="img-thumbnail" alt="Cinque Terre">
                                </li>
                            </ul>
                        </td>
                        <td>{{bong.price}}</td>
                        <td>{{bong.quantity}}</td>
                        <td>
                            <a ui-sref="cms.bong_update({id:bong._id})"><i class="fa fa-pencil-square-o" aria-hidden="true" style="text-shadow: 1px 1px 1px #ccc;font-size: 1.5em;"></i></a>&nbsp;&nbsp;&nbsp;
                            <a  ng-click="Bong.confirmDelete(bong,$index)" style="cursor: pointer" data-toggle="modal"><i class="fa fa-trash" aria-hidden="true" style="color: red;text-shadow: 1px 1px 1px #ccc;font-size: 1.5em;"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

<toaster-container></toaster-container>
