<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="#">Bongkart</a>
  <ul class="nav navbar-nav mr-auto d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto" style="padding-right: 1rem;">
    <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
      <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
        <span class="d-md-down-none">admin</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Settings</strong></div>

        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a>
        <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
    
  </ul>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-dashboard"></i> Dashboard <span class="badge badge-info">NEW</span></a>
        </li>
        <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/users/list']"><i class="fa fa-users"></i> Users</a>
        </li>
        <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/bongs/list']"><i class="icon-bong"></i> Bongs</a>
        </li>
        <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/brands/list']"><i class="icon-bong"></i> Brands</a>
        </li>
        <!--<li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="fa fa-users"></i> Users</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/users/list']"><i class="fa fa-list"></i> Users List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/users/createUser']"><i class="fa fa-user-plus"></i> Create User</a>
            </li>
          </ul>
        </li>-->
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
</div>

<footer class="app-footer">
  <a href="#">Bongkart</a> &copy; 2017.
</footer>
<app-spinner> </app-spinner>