/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

  /* Add a gray background color and some padding to the footer */
    .footer {
      background-color: #0c84e4;
      color: #b2dbfb;
    }
    .containers > .text-mar{
    	margin: 10px 0px;
    }

/* expanding input CSS only */
#myInput {
	 position:relative;
  width:230px;
  -webkit-transition: width 0.4s ease-in-out;
   transition: width 0.4s ease-in-out;
}
#myInput:focus	{
  width:100%;
  -webkit-transition:width 0.5s ease-in-out;
}
.myIm{
	position: absolute;
	padding: 20px;
    border-radius: 30px;
   left: -25px;
   color:#e5e5ef;
   font-size:17px;

}
