<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{main.appName}}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="dropdown" ng-repeat="menuItem in main.menuItems">
                    <a style="cursor: pointer" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ menuItem.name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="subMenuItem in menuItem.subMenuItems"><a ui-sref="{{subMenuItem.url}}">{{subMenuItem.name }}</a></li>
                    </ul>
                </li>
            </ul>
             <form role="search">
            <div class="col-md-6">

                <input type="text" class="form-control input-lg" id="myInput" placeholder="Search">
                 <span class="glyphicon glyphicon-search myIm" ></span>
            </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Ranga Komarthi</a></li>
            </ul>
        </div>
    </div>
</nav>